{port_specs, [
      {"linux", "priv/fix_parser.so",
         ["c_src/fix_parser.c"],
            [{env, [
               {"CFLAGS", "$CFLAGS -std=gnu99 -O3 -I/usr/include/libxml2 -I.fix_parser/include"},
               {"LDFLAGS", "$LDFLAGS .fix_parser/build/libs/libfix_parser.a -lxml2 "}
            ]}]}
]}.
