{port_specs, [
      {"linux", "priv/fix_parser.so",
         ["c_src/src/*.c", "c_src/src/lin/*.c"],
            [{env, [
               {"CFLAGS", "$CFLAGS -std=gnu99 -O3 -I/usr/include/libxml2 -I./c_src/include"},
               {"LDFLAGS", "$LDFLAGS -lxml2 "}
            ]}]}
]}.
%{erl_opts, [warn_missing_spec]}.
