{deps, [
   {fix_parser, "", {git, "git://github.com/dmitryme/fix_parser.git", {branch, "master"}}, [raw]}
]}.

{port_specs, [
      {"linux", "priv/fix_parser.so",
         ["c_src/fix_parser.c", "deps/fix_parser/src/*.c"],
            [{env, [
               {"CFLAGS", "$CFLAGS -std=gnu99 -O2 -I/usr/include/libxml2 -Ideps/fix_parser/include"},
               {"LDFLAGS", "$LDFLAGS -lxml2"}
            ]}]},
      {"linux", "priv/fix_msg.so",
         ["c_src/fix_msg.c", "deps/fix_parser/src/*.c"],
            [{env, [
               {"CFLAGS", "$CFLAGS -std=gnu99 -O2 -I/usr/include/libxml2 -Ideps/fix_parser/include"},
               {"LDFLAGS", "$LDFLAGS -lxml2"}
            ]}]}
]}.
