{sub_dirs, [
   "apps/fix_parser"]}.

{post_hooks, [{clean, "rm -rf ebin/*.beam"},
              {clean, "rm -rf ebin/log"},
              {clean, "rm -rf ebin/fix.4.4.xml"},
              {clean, "rm -rf ebin/example_start"},
              {clean, "rm -rf ebin/example.config"}]}.

%{erl_opts, [warn_missing_spec]}.
