{sub_dirs, [
   "apps/example"]}.

{port_specs, [
      {"linux", "priv/fix_parser.so",
         ["c_src/src/*.c", "c_src/src/lin/*.c"],
            [{env, [
               {"CFLAGS", "$CFLAGS -std=gnu99 -O3 -I/usr/include/libxml2 -I./c_src/include"},
               {"LDFLAGS", "$LDFLAGS -lxml2 "}
            ]}]}
]}.

{pre_hooks, [{compile, "mkdir -p ebin ebin/log"}]}.
{post_hooks, [
              {compile, "cp fix_descr/fix.4.4.xml ebin"},
              {compile, "cp apps/example/ebin/example_start ebin"},
              {compile, "cp apps/example/ebin/example.config ebin"},
              {compile, "cp apps/example/ebin/*.beam ebin"},
              {compile, "cp apps/example/ebin/*.beam ebin"},
              {compile, "cp apps/example/ebin/example.app ebin"},
              {clean, "rm -rf ebin/*.beam"},
              {clean, "rm -rf ebin/log"},
              {clean, "rm -rf ebin/fix.4.4.xml"},
              {clean, "rm -rf ebin/example_start"},
              {clean, "rm -rf ebin/example.config"}]}.

%{erl_opts, [warn_missing_spec]}.
